<!--
Variables:
edit: bool
tab: tab name(Country/State/City)
id: row id
data:[{"name":"Name",value:"Bangalore","var":"cityName"},{"name":"Abbr",value:"BLR","var":citySname},{"name":"State",value:"1","var":"stateId","opts":[{"id":1,"name":"Karnataka"},{"id":2,"name":"Tamil Nadu"}...]}]
-->
<div id="profile" class="profile">
<i class="fa fa-{%if edit%}trash tabButton highlight" onclick="editProfile({{id}})"{%else%}edit tabButton highlight" onclick="alert('todo')"{%endif%} style="float:right; margin-right:30px;"></i>
    <h5>{{tab}} Details</h5>
    <table>
        {%for i in data%}
        <tr>
            <td style="text-align: right;">
                {{i["name"]}}:
            </td>
            <td>
                {%if edit%}
                    {%if "opts" in i%}
                        <select id="profile_{{i["var"]}}">
                        {%for j in i["opts"]%}
                            <option {%if "id" not in j%}selected disabled{%else%}value="{{j["id"]}}" {%if j["id"]==i["value"]%}selected{%endif%}{%endif%}>{{j["name"]}}</option>
                        {%endfor%}
                        </select>
                    {%else%}
                            <input id="profile_{{i["var"]}}" value="{{i["value"]}}" />
                    {%endif%}
                {%else%}
                {{i["value"]}}
                {%endif%}
            </td>
        </tr>
        {%endfor%}
    </table>
    {%if edit%}
    <div class="tabButton highlight" style="float:right; margin-right:40px;">Submit</div>
    {%endif%}
</div>